# =========================
# Go
# =========================
bin/
pkg/
*.exe
*.out
*.test

# Go cache (IMPORTANT)
.cache/
**/.cache/

# =========================
# Env files (IMPORTANT)
# =========================
*.env

# =========================
# Logs / temp
# =========================
*.log
tmp/
temp/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# VS Code (optional)
# =========================
.vscode/